<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ganwl.multiplayerwordgame">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".helper.SoundPoolManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- hide soft keyboard -->

        <activity
            android:name=".OnePlayerGame"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".OnePlayerPopup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MultiPlayerGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicy"
            android:screenOrientation="portrait" />
        <activity android:name=".FAQ"></activity>
    </application>

</manifest>